<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Rencontres Chantantes{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-8 main">
                    <div class="row title">
                        <h1>Les Rencontres Chantantes</h1>
                        <h3>Des chants pour se rencontrer entre écoles</h3>
                    </div>
                    <div class="row">
                        <div class="col-3 menu text-center">
                            <p><b>Année scolaire :</b></p>
                            {%for type in types %}
                                {{ type.name }}
                            {% endfor %}

                            <p><a href="{{ path('home') }}">Accueil</a></p>
                            {% if is_granted('ROLE_ADMIN') %}
                                <p><a href="{{ path('admin') }}">Administration</a></p>
                            {% endif %}
                            <p><a href="{{ path('search') }}">Recherche</a></p>
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <p class="objectif">Objectif du site : promouvoir le chant à l'école primaire, 
                                à travers des rencontres en chansons, 
                                grâce à l'apport de versions instrumentales...</p>
                            </div>
                            <div class="row content">
                                {% block body %}{% endblock %}
                            </div>
                            <div class="row">
                                <p class="footer">Site optimisé pour favoriser les échanges vocaux entre classes d'écoles primaires
                                <br>Tout usage commercial interdit - © Rencontres Chantantes 2004-2010</p>
                                <p class="footer">Les chants proposés sur ces pages restent la propriété de leurs auteurs.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
